# Created by .ignore support plugin (hsz.mobi)
### Go template
# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

.idea
.idea/workspace.xml
.idea/vcs.xml

.idea/libraries

db/*

# build vendor
build
hyperchain
hyperchain.iml
core/contract/jcee/java/target
core/contract/jcee/java/*.iml
core/contract/jcee/java/.idea
hypercli/hypercli

.DS_Store
core/.DSTORE
