# Created by .ignore support plugin (hsz.mobi)
### Go template
# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

.idea
.idea/workspace.xml
.idea/vcs.xml

.idea/libraries

db/*

# build vendor
build
hyperchain
hyperchain.iml
core/vm/jcee/java/target
core/vm/jcee/java/*.iml
core/vm/jcee/java/.idea
hypercli/hypercli
hypercli/keyconfigs/keynodes

core/vm/jcee/java/hyperjvm

.DS_Store
core/.DSTORE

logs
.token

# executor
service/executor/namespaces/global/data/*
service/executor/logs/*
service/executor/executor


