body{
    margin: 0;
}
header{
    background: #242424;
    color: white;
    font-size:20px;
}
header .logo{
    padding: 20px 0 20px 100px;
}
.container{
    width: 1000px;
    margin: 0 auto;
    padding:20px 0;
}
form{

}
input{
    padding:5px;
    margin:8px 0
}
input[type=button],input[type=reset],select{
    padding:5px 20px;
    background: cadetblue;
    color:white;
    border: none;
}
input[name="from"],input[name="to"]{
    width: 300px;
}
input[name="value"]{
    width: 50px;
}
/*.list{*/
    /*display: flex;*/
    /*justify-content: space-around;*/
/*}*/
table{
    background: #eeeeee;
    padding: 10px 20px;
}
table{
    width:100%
}
table tr td,table tr th{
    border-bottom:1px solid silver;
    margin:5px;
    padding:10px 8px;
    /*width:20%;*/
    text-align: center;
}
.status{
    height:15px;
    line-height:15px;
    width:100%;
    color:red;
}
.info{
    padding: 8px 5px;
    color: #5a5757;
}
.tabs {
    margin: 10px 0;
    border-bottom: 1px solid silver;
}
.tabs span{
    background:silver;
    color:white;
    padding: 5px 10px;
    box-sizing: border-box;
    display: inline-block;
    cursor: pointer;
}
.tabs span.selected{
    background:#545151;
    color:white;
    padding: 10px
}
