body{
    margin: 0;
}
header{
    background: #242424;
    color: white;
    font-size:20px;
}
header div{
    padding: 20px 0 20px 100px;
}
.container{
    width: 1000px;
    margin: 0 auto;
    padding:20px 0;
}
form{

}
input{
    padding:5px;
    margin:8px 0
}
input[type=button],input[type=reset],select{
    padding:5px 20px;
    background: cadetblue;
    color:white;
    border: none;
}
.list{
    display: flex;
    justify-content: space-around;
}
table{
    background: #eeeeee;
    padding: 10px 20px;
}
table.trans{
    width:70%
}
table.balances{
    width: 40%;
    margin-left:5px
}
table tr td,table tr th{
    border-bottom:1px solid silver;
    margin:5px;
    padding:10px 0;
    width:20%;
    text-align: center;
}
.status{
    height:15px;
    line-height:15px;
    width:100%;
    color:red;
}
.info{
    padding: 8px 5px;
    color: #5a5757;
}