<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Account</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>Blockchain</a>
            </li>
            <li class="active">
                <strong>Account</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" ng-controller="AccountCtrl">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="test_wrap">

                        <form role="form" class="form-inline">
                            <span style="font-weight: bold">注册账户：</span>
                            <div class="form-group">
                                <label for="password" class="sr-only">password</label>
                                <input type="password" placeholder="password" ng-model="account.password" id="password"
                                       class="form-control">
                            </div>&nbsp;&nbsp;
                            <div class="form-group">
                                <label for="confirm" class="sr-only">confirm</label>
                                <input type="password" placeholder="confirm password" ng-model="account.confirm" id="confirm"
                                       class="form-control">
                            </div>
                            <button class="btn btn-primary" type="submit" ng-click="submit()">Submit</button>
                            <span>账户地址:</span>
                            <span class="text_red">{{address}}</span>
                        </form>
                    </div>
                    <table  datatable="ng" dt-options="dtOptions" class="table table-striped table-hover dataTables-example" data-page-size="10">
                        <thead>
                        <tr>
                            <th class="table_th">Address</th>
                            <th class="table_th">Balance</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="ac in accounts">
                            <td>{{ac.account}}</td>
                            <td>{{ac.balance}}</td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="2">
                                <ul class="pagination pull-right"></ul>
                            </td>
                        </tr>
                        </tfoot>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
