<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Account</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>Blockchain</a>
            </li>
            <li class="active">
                <strong>Account</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" ng-controller="AccountCtrl">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <input type="text" class="form-control input-sm m-b-xs" id="filter"
                           placeholder="Search in table"><br/>
                    <table class="footable table table-striped table-hover" data-page-size="10" data-filter="#filter">
                        <thead>
                        <tr>
                            <th class="table_th">Address</th>
                            <th class="table_th">Balance</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="ac in accounts">
                            <td>{{ac.account}}</td>
                            <td>{{ac.balance}}</td>
                        </tr>
                        <!--<tr class="gradeX">-->
                            <!--<td>f2pool</td>-->
                            <!--<td>0x000000000000000002</td>-->
                            <!--<td>200</td>-->
                        <!--</tr>-->
                        <!--<tr class="gradeC">-->
                            <!--<td>f2pool</td>-->
                            <!--<td>0x000000000000000002</td>-->
                            <!--<td>200</td>-->
                        <!--</tr>-->
                        <!--<tr class="gradeA">-->
                            <!--<td>f2pool</td>-->
                            <!--<td>0x000000000000000002</td>-->
                            <!--<td>200</td>-->
                        <!--</tr>-->
                        <!--<tr class="gradeA">-->
                            <!--<td>f2pool</td>-->
                            <!--<td>0x000000000000000002</td>-->
                            <!--<td>200</td>-->
                        <!--</tr>-->
                        <!--<tr class="gradeA">-->
                            <!--<td>f2pool</td>-->
                            <!--<td>0x000000000000000002</td>-->
                            <!--<td>200</td>-->
                        <!--</tr>-->
                        <!--<tr class="gradeA">-->
                            <!--<td>f2pool</td>-->
                            <!--<td>0x000000000000000002</td>-->
                            <!--<td>200</td>-->
                        <!--</tr>-->
                        <!--<tr class="gradeA">-->
                            <!--<td>f2pool</td>-->
                            <!--<td>0x000000000000000002</td>-->
                            <!--<td>200</td>-->
                        <!--</tr>-->
                        <!--<tr class="gradeA">-->
                            <!--<td>f2pool</td>-->
                            <!--<td>0x000000000000000002</td>-->
                            <!--<td>100</td>-->
                        <!--</tr>-->
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="5">
                                <ul class="pagination pull-right"></ul>
                            </td>
                        </tr>
                        </tfoot>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
