<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Block</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>Blockchain</a>
            </li>
            <li class="active">
                <strong>Block</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <input type="text" class="form-control input-sm m-b-xs" id="filter"
                           placeholder="Search in table"><br/>
                    <table  class="footable table table-striped table-hover" data-page-size="10" data-filter="#filter">
                        <thead>
                        <tr>
                            <th class="table_th">Number</th>
                            <th class="table_th">Hash</th>
                            <th class="table_th">BatchTime</th>
                            <th class="table_th">WriteTime</th>
                            <th class="table_th">Avg Time</th>
                            <th class="table_th">#Txs</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="gradeX">
                            <td>0</td>
                            <td>0xfgsdfgergrhth</td>
                            <td>2016-09-11 11:12:13</td>
                            <td class="center">2016-09-11 11:12:13</td>
                            <td class="center">123ms</td>
                            <td class="center">200</td>
                        </tr>
                        <tr class="gradeC">
                            <td>1</td>
                            <td>0xfgsdfgergrhth</td>
                            <td>2016-09-11 11:12:13</td>
                            <td class="center">2016-09-11 11:12:13</td>
                            <td class="center">123ms</td>
                            <td class="center">500</td>
                        </tr>
                        <tr class="gradeA">
                            <td>2</td>
                            <td>0xfgsdfgergrhth</td>
                            <td>2016-09-11 11:12:13</td>
                            <td class="center">2016-09-11 11:12:13</td>
                            <td class="center">123ms</td>
                            <td class="center">500</td>
                        </tr>
                        <tr class="gradeA">
                            <td>3</td>
                            <td>0xfgsdfgergrhth</td>
                            <td>2016-09-11 11:12:13</td>
                            <td class="center">2016-09-11 11:12:13</td>
                            <td class="center">123ms</td>
                            <td class="center">500</td>
                        </tr>
                        <tr class="gradeA">
                            <td>4</td>
                            <td>0xfgsdfgergrhth</td>
                            <td>2016-09-11 11:12:13</td>
                            <td class="center">2016-09-11 11:12:13</td>
                            <td class="center">123ms</td>
                            <td class="center">500</td>
                        </tr>
                        <tr class="gradeA">
                            <td>5</td>
                            <td>0xfgsdfgergrhth</td>
                            <td>2016-09-11 11:12:13</td>
                            <td class="center">2016-09-11 11:12:13</td>
                            <td class="center">123ms</td>
                            <td class="center">500</td>
                        </tr>
                        <tr class="gradeA">
                            <td>6</td>
                            <td>0xfgsdfgergrhth</td>
                            <td>2016-09-11 11:12:13</td>
                            <td class="center">2016-09-11 11:12:13</td>
                            <td class="center">123ms</td>
                            <td class="center">500</td>
                        </tr>
                        <tr class="gradeA">
                            <td>7</td>
                            <td>0xfgsdfgergrhth</td>
                            <td>2016-09-11 11:12:13</td>
                            <td class="center">2016-09-11 11:12:13</td>
                            <td class="center">123ms</td>
                            <td class="center">500</td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="5">
                                <ul class="pagination pull-right"></ul>
                            </td>
                        </tr>
                        </tfoot>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
