<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Block</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>Blockchain</a>
            </li>
            <li class="active">
                <strong>Block</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" ng-controller="BlockCtrl">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="test_wrap">
                        <form role="form" class="form-inline">
                            <div class="form-group col-lg-4">
                                <label for="sender" class="sr-only">Sender</label>
                                <input type="text" placeholder="Sender address" id="sender"
                                       class="form-control" ng-model="tx.from" style="width:100%">
                            </div>
                            <div class="form-group col-lg-4">
                                <label for="receiver" class="sr-only">Password</label>
                                <input type="text" placeholder="Receiver address" id="receiver"
                                       class="form-control" ng-model="tx.to" style="width:100%">
                            </div>
                            <div class="form-group">
                                <label for="amount" class="sr-only">Password</label>
                                <input type="text" placeholder="Amount" id="amount" ng-model="tx.value"
                                       class="form-control">
                            </div>
                            <button class="btn btn-primary" type="submit" ng-click="submit()">Submit</button>
                            <div class="text_red">&nbsp;&nbsp;&nbsp;&nbsp;{{status}}</div>
                        </form><br/>
                        <form role="form" class="form-inline">
                            <span style="font-weight: bold">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;计算tx平均处理时间：</span>
                            <div class="form-group">
                                <label for="from1" class="sr-only">from</label>
                                <input type="text" placeholder="起始block number" ng-model="blockAvg.from" id="from1"
                                       class="form-control">
                            </div>&nbsp;-&nbsp;
                            <div class="form-group">
                                <label for="to1" class="sr-only">to</label>
                                <input type="text" placeholder="终止block number" ng-model="blockAvg.to" id="to1"
                                       class="form-control">
                            </div>
                            <button class="btn btn-primary" type="submit" ng-click="queryTxAvg()">Query</button>

                            <span>TxAvgTime:</span>
                            <span class="text_red">{{txAvgTime | hexStringToNum}}ms</span>
                        </form><br/>
                        <form role="form" class="form-inline">
                            <span style="font-weight: bold">计算block commit & batch时间：</span>
                            <div class="form-group">
                                <label for="from" class="sr-only">from</label>
                                <input type="text" placeholder="起始block number" ng-model="block.from" id="from"
                                       class="form-control">
                            </div>&nbsp;-&nbsp;
                            <div class="form-group">
                                <label for="to" class="sr-only">to</label>
                                <input type="text" placeholder="终止block number" ng-model="block.to" id="to"
                                       class="form-control">
                            </div>
                            <button class="btn btn-primary" type="submit" ng-click="queryBatchAndCommit()">Query</button>

                            <span>CommitTime:</span>
                            <span class="text_red">{{commitTime}}ms</span>
                            <span>BatchTime:</span>
                            <span class="text_red">{{batchTime}}ms</span>

                        </form><br/>
                        <form role="form" class="form-inline">
                            <span style="font-weight: bold">&emsp;&emsp;&emsp;&emsp;&emsp;计算Evm平均处理时间：</span>
                            <div class="form-group">
                                <label for="from2" class="sr-only">from</label>
                                <input type="text" placeholder="起始block number" ng-model="blockEvm.from" id="from2"
                                       class="form-control">
                            </div>&nbsp;-&nbsp;
                            <div class="form-group">
                                <label for="to2" class="sr-only">to</label>
                                <input type="text" placeholder="终止block number" ng-model="blockEvm.to" id="to2"
                                       class="form-control">
                            </div>
                            <button class="btn btn-primary" type="submit" ng-click="queryEvmTime()">Query</button>

                            <span>EvmAvgTime:</span>
                            <span class="text_red">{{evmTime}}ms</span>
                        </form><br/>
                    </div>

                    <table  datatable="ng" dt-options="dtOptions" class="table table-striped table-hover dataTables-example" data-page-size="10">
                        <thead>
                        <tr>
                            <th class="table_th">Number</th>
                            <th class="table_th">Hash</th>
                            <th class="table_th">WriteTime</th>
                            <th class="table_th">Avg Time/tx</th>
                            <th class="table_th">#Txs</th>
                            <th class="table_th"><200ms</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="blk in blocks">
                            <td>{{blk.number | hexStringToNum}}</td>
                            <td>{{blk.hash}}</td>
                            <td class="center">{{blk.writeTime | timestampToDate}}</td>
                            <td class="center">{{blk.avgTime | hexStringToNum}}ms</td>
                            <td class="center">{{blk.txcounts | hexStringToNum}}</td>
                            <td class="center">{{blk.percents}}</td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="6">
                                <ul class="pagination pull-right"></ul>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
