<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Transaction</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>Blockchain</a>
            </li>
            <li class="active">
                <strong>Transaction</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" ng-controller="TransactionCtrl">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <!--<form role="form" class="form-inline">-->
                        <!--<div class="form-group col-lg-4">-->
                            <!--<label for="sender" class="sr-only">Sender</label>-->
                            <!--<input type="text" placeholder="Sender address" id="sender"-->
                                   <!--class="form-control" value="6201cb0448964ac597faf6fdf1f472edf2a22b89" style="width:100%">-->
                        <!--</div>-->
                        <!--<div class="form-group col-lg-4">-->
                            <!--<label for="receiver" class="sr-only">Password</label>-->
                            <!--<input type="text" placeholder="Receiver address" id="receiver"-->
                                   <!--class="form-control" value="0000000000000000000000000000000000000002" style="width:100%">-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                            <!--<label for="amount" class="sr-only">Password</label>-->
                            <!--<input type="text" placeholder="Amount" id="amount"-->
                                   <!--class="form-control" value="1">-->
                        <!--</div>-->
                        <!--<button class="btn btn-primary" type="submit" ng-click="submit()">Submit</button>-->
                        <!--<div style="color: red">{{status}}</div>-->
                    <!--</form>-->
                    <br/><br/>
                    <input type="text" class="form-control input-sm m-b-xs" id="filter"
                           placeholder="Search in table"><br/>
                    <table  class="footable table table-striped table-hover" data-page-size="10" data-filter="#filter">
                        <thead>
                        <tr>
                            <th class="table_th">Hash</th>
                            <th class="table_th">From</th>
                            <th class="table_th">To</th>
                            <th class="table_th">Amount</th>
                            <th class="table_th">TIme</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="tx in txs">
                            <td>{{tx.hash}}</td>
                            <td>{{tx.from}}</td>
                            <td>{{tx.to}}</td>
                            <td class="center">{{tx.amount}}</td>
                            <td class="center">{{tx.timestamp}}</td>
                        </tr>
                        <!--<tr class="gradeX">-->
                            <!--<td>0xfgsdfgergrhth...</td>-->
                            <!--<td>0</td>-->
                            <!--<td>0x000000000000000002</td>-->
                            <!--<td>0x000000000000000002</td>-->
                            <!--<td class="center">200</td>-->
                            <!--<td>2016-09-11 11:12:13</td>-->
                        <!--</tr>-->
                        <!--<tr class="gradeC">-->
                            <!--<td>0xfgsdfgergrhth...</td>-->
                            <!--<td>0</td>-->
                            <!--<td>0x000000000000000002</td>-->
                            <!--<td>0x000000000000000002</td>-->
                            <!--<td>200</td>-->
                            <!--<td>2016-09-11 11:12:13</td>-->
                        <!--</tr>-->
                        <!--<tr class="gradeA">-->
                            <!--<td>0xfgsdfgergrhth...</td>-->
                            <!--<td>0</td>-->
                            <!--<td>0x000000000000000002</td>-->
                            <!--<td>0x000000000000000002</td>-->
                            <!--<td>200</td>-->
                            <!--<td>2016-09-11 11:12:13</td>-->
                        <!--</tr>-->
                        <!--<tr class="gradeA">-->
                            <!--<td>0xfgsdfgergrhth...</td>-->
                            <!--<td>0</td>-->
                            <!--<td>0x000000000000000002</td>-->
                            <!--<td>0x000000000000000002</td>-->
                            <!--<td>200</td>-->
                            <!--<td>2016-09-11 11:12:13</td>-->
                        <!--</tr>-->
                        <!--<tr class="gradeA">-->
                            <!--<td>0xfgsdfgergrhth...</td>-->
                            <!--<td>0</td>-->
                            <!--<td>0x000000000000000002</td>-->
                            <!--<td>0x000000000000000002</td>-->
                            <!--<td>200</td>-->
                            <!--<td>2016-09-11 11:12:13</td>-->
                        <!--</tr>-->
                        <!--<tr class="gradeA">-->
                            <!--<td>0xfgsdfgergrhth...</td>-->
                            <!--<td>0</td>-->
                            <!--<td>0x000000000000000002</td>-->
                            <!--<td>0x000000000000000002</td>-->
                            <!--<td>200</td>-->
                            <!--<td>2016-09-11 11:12:13</td>-->
                        <!--</tr>-->
                        <!--<tr class="gradeA">-->
                            <!--<td>0xfgsdfgergrhth...</td>-->
                            <!--<td>0</td>-->
                            <!--<td>0x000000000000000002</td>-->
                            <!--<td>0x000000000000000002</td>-->
                            <!--<td>200</td>-->
                            <!--<td>2016-09-11 11:12:13</td>-->
                        <!--</tr>-->
                        <!--<tr class="gradeA">-->
                            <!--<td>0xfgsdfgergrhth...</td>-->
                            <!--<td>0</td>-->
                            <!--<td>0x000000000000000002</td>-->
                            <!--<td>0x000000000000000002</td>-->
                            <!--<td>200</td>-->
                            <!--<td>2016-09-11 11:12:13</td>-->
                        <!--</tr>-->
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="5">
                                <ul class="pagination pull-right"></ul>
                            </td>
                        </tr>
                        </tfoot>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
